@import url('https://fonts.googleapis.com/css2? família=Inter:wght@400;700&display=swap');

body{
    height: 100vh;
}
.page1{
    display: block;
}
.sorvete{
    display: none;
}
.paletas{
    display: none;
}
.cabecalho{
    background-color: #595959;
    padding: .8em;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    z-index: 1;
}

.logo{
    background:none;
    margin-top: 0.5em;
    width: 6em;
    height: 2em;
}
.direita{
    display: flex;
    align-items: center;
    margin-right: 1.25rem;
}
.sacola-icon{
    margin: 0 0.625rem;
}
.sacola{
    width: 2rem;
    height: 2.5rem;
}
.menu__lista{
    display: none;
    width: 7rem;
    border: 1px solid #ffffff;
    background: #595959;
    padding-bottom: 1em;
    padding-top: 1em;
    position: absolute;
    right: 1.65rem;
    top:3.5em;
}

.menu__item{
    text-align: center;
    padding-bottom: 6px;
}
.menu-lista__link{
    text-decoration: none;
    color: #F2F2F2;
}
.menu-lista__link:active {
    background-color: #f9f9f9;
    color: #595959;
    cursor: pointer;
}

.container__botao:checked ~ .menu__lista{
    display: block;
}

/*inicio menu hamburguer*/
.container{
    display:grid ;
    align-items: center;
}
/*fim menun hamburguer*/

/*configuração do menu hamburguer*/
#checkbox-menu{
    position: absolute;
    opacity: 0;
}

label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 1.375rem;
    width: 1.875rem;
}

label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #F2F2F2;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1){
    top: 0;
}


label span:nth-child(2){
    top: 8px;
}


label span:nth-child(3){
    top: 16px;
}
/*fim da configuração do menu hamburguer*/

/*animação*/
#checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}
/*fim animação*/

/* rodapé*/

/*fim do rodapé */

/* CSS HENDERSON */

:root{
    font-family: 'Oswald', sans-serif;
    --cor-branco: #f2f2f2;
    --cor-azul:#C4EEF2;
    --cor-azul-fundo:#6CC5D9;
    --cor-preto:#595959;
}

.apresentacao{
    background: var(--cor-branco);
    display: flex;
    width: auto;
    height: 33vh;
    justify-content: space-around;  
    align-items: center; 
    text-align: center;
}

.inutil{
    height: 5rem;
}

.texto-apresentacao{
    width: 45%;
}

.apresentacao_titulo{
    font-size: 1.3em;
    color: var(--cor-preto);
}

.apresentacao_texto{
    font-size: 0.8em;
    text-align: center;
    padding: 1em;
    margin: 0;
    
}

.apresentacao_imagem{
   width: 45%;
   height: 80%;
   padding: 0.5em;
   
}

.produto{
 
 height: 67vh;
 background: var(--cor-azul);
 text-align: center;
 display: flex;
 justify-content: space-around;
 flex-direction: column;
 align-items:center ;
}

.produto_titulo{
    font-size: 24px;
    font-weight: bold;
    color: var(--cor-preto);
    margin-top: 1em;
}

.produto_card{
    width: 100%;
    height: 50%;
    background:var(--cor-azul-fundo);
    display: flex;
    align-items: center;
}

.produto-imagem{
    align-self: center;
    height: 80%;
    width: 100%;
}

.btn-monte-seu-pedido, .btn-monte-seu-paleta{
    text-align: center;
    width: 50%;
    box-shadow: 5px 5px 2px #595959;
    color:var(--cor-preto);
    font-size: 15px;
    padding: 1em;
    background-color: var(--cor-branco);
    border-radius: 15px;
}

.modal-compras {
    display: flex;
    justify-content: space-between;
    
    height: 15rem;
    width: 60vw;

    background-color: #c4eef2;
    border-radius: 10px;
    color: #595959;
    font-weight: 700;
    font-size: 19px;

    position: absolute;
    right: 15px;

    padding: 15px;

}

.modal__preco {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    width: 100px;
    right: 10px;

    position: absolute;
    bottom: 50px;

    border: none;
    background-color: #FFF;   
}

.modal-compras button {
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 500;   
}


/*FIM CSS HENDERSON*/

/*CSS ELIAS*/
.paletas {
    align-items: center;
    background-color: #6CC5D9;
    margin: auto;
    padding-bottom: 20px;
    font-family: 'Oswald';
}

.paletas-titulo {
    background-color: #f2f2f2;
    font-size: 20px;
    text-transform: uppercase;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}  

.paletas__titulos {
    font-weight: 600;
    font-size: 20px;
    color: #595959;
}

.paleta-menu__titulo {
    font-weight: 400;
    font-size: 22px;
}

.paleta-menu__botoes {
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    
}

.paleta__imagem {
    margin-left: 30px;
}

.paleta-menu__selecao {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 20px;
    
}

.paletas_sabores {
    display: flex;
    background-color: #f2f2f2;
    Width:250px;
    Height:93px;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #00000077; 
}

.paleta-menu__display {
    margin: 0 10px;
}

.menu__botoes {
    border: none;
}

/* footer */
footer {
    width: 100vw;
    background-color: #595959;
    display: flex;
    
}

footer .rodape__box{
    width: 320px;
    padding: 20px;
    margin-top: 0em;
}



.rodape__box h2{
    color: #fff;
    margin-bottom: 5px;
}

/* fim footer */

/*FIM CSS ELIAS*/

/*CSS JOHN*/

.sorvete_sabor{
    margin: 0;
    padding: 0;
    height: auto;
}

.sorvete_montagem{
    display: flex;
    flex-direction: column;
}

.chocolate, .morango, .flocos, .creme {
    height: 13em;
    width: 100vw;
    box-shadow: 0px 15px 25px;
    position: relative;
}

.soverte-montagem_sabores {
    overflow: hidden;
    width: 100vw;
    background-color: #6cc5d9;
    padding-bottom: 3em;   
}

.soverte-montagem_sabores>.sorvete_sabor {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    transition: all 1000ms ease;
}

.soverte-montagem_sabores>.sorvete_sabor>.sorvete_chocolate,
.sorvete_morango,
.sorvete_flocos,
.sorvete_creme {
    flex: 0 0 auto;
    width: 100vw;
}

.soverte-montagem_sabores>input:nth-child(1):checked~.sorvete_sabor {
    transform: translateX(0%);
}

.soverte-montagem_sabores>input:nth-child(2):checked~.sorvete_sabor {
    transform: translateX(-100%);
}

.soverte-montagem_sabores>input:nth-child(3):checked~.sorvete_sabor {
    transform: translateX(-200%);
}

.soverte-montagem_sabores>input:nth-child(4):checked~.sorvete_sabor {
    transform: translateX(-300%);
}

.inputsov1, .inputsov2, .inputsov3, .inputsov4 {
    position:relative;
    display: inline-flex;
    top: 16.5rem;
}

.quantidade-sorvete{
    display: flex;
    position: relative;
    bottom: 35px;
    left: 250px;
    background-color: #c4eef2;
    width: 90px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;  
}

.button-quantidade-sorvete{
    margin: 0px 15px;
    font-size: large;
    background-color: #c4eef2;
    border: none;
}

.sorvete_recipientes{
    display: flex;
    flex-direction: column;
  
    margin-left: 2em;
    margin-bottom: 2em;
    
}

.texto_recipientes{
    text-align: center;
}

.sorvete_titulo{
    text-align: center;
    font-weight: 600;
    margin-bottom: 2em;
    color:#595959;
}

.sorvetetexto{
    top: 12em;
    position: relative;
    left: 12em;
    background-color: #2d7080c0;
    color: #f2f2f2;
    padding: .4em;
    border-radius: 8px;
    z-index: 1;
}

.margin_recepientes {
    margin: 0px;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.icon{
    width: 2em;
    height: 2em;
    margin: 8px;
}
/*FIM CSS JOHN*/

/*CSS CARLA*/
.sorvete_ingredientes{
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 2em;
}

.opcoes__cobertura {
    display: inline;
    width:50px;
    height:50px;  
}

.input-coberturas{
    display: flex;
    align-items: center;
}

.titulo_cobertura {
    text-align: center;
    
}

/*FIM CSS CARLA*/